$hero-bg-color: #F6F1EE;
$hero-container: #DCDCDC;
$video-bg-color: #D9D9D9;
$color-title: #071B0C;

$mq-small: 450px;
$mq-medium: 750px;
$mq-large: 1000px;
$mq-extra-large: 1450px;


// B A S E
*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5% !important;
    overflow-x: hidden;

    @media screen and (min-width: $mq-small) {
        font-size: 73.5% !important;
    }

    @media screen and (min-width: $mq-medium) {
        font-size: 100% !important;
    }

    @media screen and (min-width: $mq-large) {
        font-size: 120% !important;
    }

    @media screen and (min-width: $mq-extra-large) {
        font-size: 175% !important;
    }
}

body{
    background-color: $hero-container; 
    font-family: 'Roboto Slab', serif;
}

// F O N T S
@font-face {
    font-family: 'Playlist';
    src:  url(./css/fonts/PlaylistScript.otf) format('opentype');
  }

.container{
    width: 95%;
    margin: 0 auto;
}

.hero{
    padding: 4rem 10%;
    background-color: $hero-bg-color;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    @media screen and (min-width: $mq-large) {
        min-height: 100vh;
    }
    

    &__content{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        font-size: 1rem;
        max-width: 23em;
        
        width: 100%;
        flex: 1 0 100%;

        @media screen and (min-width: $mq-medium) {
            font-size: 1.5rem;
        }

        @media screen and (min-width: $mq-large) {
            font-size: 1.8rem;
            
        }

        &::before{
            content: '';
            position: absolute;
            display: block;
            width: 95%;
            height: 100%;
            background-color: #DCDCDC;
            top: -1%
        }
    }

    &__title{
        font-family: Playlist, sans-serif;
        font-size: 11em;
        font-weight: 400;
        line-height: 1em;
        letter-spacing: 4px;
        color: $color-title;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }

    &__sub-title{
        display: block;
        font-family: 'Roboto Slab', serif;
        font-size: 0.08em;
        line-height: 0.08em;
        padding-bottom: 2em;
    }

    &__paragraph{
        align-self: unset;
        width: 100%;
        flex: 1 0 100%;
        text-align: center;
        letter-spacing: 2px;
        font-weight: 200;
        font-size: 1rem;
        font-family: 'Roboto Slab', serif;
        padding-top: 1rem;
    }
}

.title-decor{
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;

    &-1{
        top: -0.5em;
        left: -4.6em;
        background-image: url(./css/images/leaf1.png);
        width: 8em;
        height: 8em;
        transform: rotate(218deg); 
        z-index: 4;
    }
    &-2{
        top: 4.8em;
        left: -6.3em;
        background-image: url(./css/images/leaf2.png);
        width: 9em;
        height: 9em;
        z-index: 3;
    }
    &-3{
        top: 2.5em;
        left: -7.85em;
        background-image: url(./css/images/leaf3.png);
        width: 7em;
        height: 7em;
        transform: rotate(-12deg);
        z-index: 2;
    }
    &-4{
        top: -0.8em;
        left: -7.8em;
        background-image: url(./css/images/leaf4.png);
        width: 6em;
        height: 6em;
        z-index: 1;
    }
}

.videos{
    background-color: $video-bg-color;
}

.video{

    width: 90% !important;
    position: relative;

    

    &__title{
        font-family: 'Roboto Slab', serif;
        font-size: 2rem;
        font-weight: 200;
        line-height: 3rem;
        padding-top: 3rem;
        z-index: 2;
        position: relative;
    }

    &__frame{
        margin-top: 3rem;
        border: none;
    }

    &__decoration{
        width: 100%;
        height: 1px;
        position: relative;

        &::before{
            content: '';
            position: absolute;
            background-repeat: no-repeat;
            background-size: contain;
        }
    
        &-odd::before{
            background-image: url(./css/images/deco1.png);
            width: 18rem;
            height: 18rem;
            transform: rotate(116deg);
            top: -9rem;
            left: -8rem;
            z-index: 10;
        }
    
        &-even::before{
            background-image: url(./css/images/deco3.png);
            width: 22rem;
            height: 22rem;
            transform: rotate(13deg);
            top: -8rem;
            right: -3rem;
        }
    }

    &__link{
        &:visited,
        &:link{
            display: inline-block;
            color: inherit;
            opacity: 0.8;
            padding-top: 1.5em;
            padding-bottom: 3px;
            text-transform: uppercase;
            letter-spacing: 2px;
            border-bottom: 1px solid black;
            font-size: 1rem;
        }
    }
}

.sponsors{
    background-color: $hero-bg-color;
    padding-bottom: 2rem;

    &__content{
        display: flex;
        justify-content: space-around;
        align-content: center;
        padding: 2rem 3rem;

        @media screen and (max-width: $mq-medium) {
            flex-direction: column;
        }
    }

    &__title{
        font-size: 1.2rem;
        font-family: 'Roboto Slab', serif;
        font-weight: 400;
        text-align: center;
        padding-top: 2rem;
    }

    &__img{
        width: 40%;
        filter: grayscale(50%);

        @media screen and (max-width: $mq-medium) {
            width: 70%;
            max-width: 266px;
            margin: 0 auto;
            padding-bottom: 1.5rem;
        }
    }

    img{
        width: 100%;
        display: inline-block;
    }

}