*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5% !important;
  overflow-x: hidden; }

body {
  background-color: #DCDCDC; }

@font-face {
  font-family: 'Playlist';
  src: url(./css/fonts/PlaylistScript.otf) format("opentype"); }

.container {
  width: 95%;
  margin: 0 auto; }

.hero {
  padding: 4rem 10%;
  background-color: #F6F1EE;
  display: flex;
  justify-content: center;
  align-items: center; }
  .hero__content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
    .hero__content::before {
      content: '';
      position: absolute;
      display: block;
      width: 95%;
      height: 90%;
      background-color: #DCDCDC;
      top: -1%; }
  .hero__title {
    font-family: Playlist, sans-serif;
    font-size: 11rem;
    font-weight: 400;
    line-height: 11rem;
    letter-spacing: 4px;
    color: #071B0C;
    z-index: 10; }

.title-decor {
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain; }
  .title-decor-1 {
    top: -4%;
    left: -20%;
    background-image: url(./css/images/leaf1.png);
    width: 7rem;
    height: 7rem;
    transform: rotate(225deg);
    z-index: 4; }
  .title-decor-2 {
    top: 38%;
    left: -27%;
    background-image: url(./css/images/leaf2.png);
    width: 8rem;
    height: 8rem;
    z-index: 3; }
  .title-decor-3 {
    top: 16%;
    left: -33%;
    background-image: url(./css/images/leaf3.png);
    width: 6rem;
    height: 6rem;
    transform: rotate(-20deg);
    z-index: 2; }
  .title-decor-4 {
    top: -8%;
    left: -31%;
    background-image: url(./css/images/leaf4.png);
    width: 5rem;
    height: 5rem;
    z-index: 1; }

.videos {
  background-color: #D9D9D9; }

.video {
  position: relative; }
  .video__title {
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
    font-weight: 200;
    line-height: 3rem;
    padding-top: 3rem;
    z-index: 2;
    position: relative; }
  .video__frame {
    margin-top: 3rem;
    border: none; }
  .video__decoration {
    width: 100%;
    position: relative; }
    .video__decoration::before {
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      background-size: contain; }
    .video__decoration-odd::before {
      background-image: url(./css/images/deco1.png);
      width: 18rem;
      height: 18rem;
      transform: rotate(116deg);
      top: -9rem;
      left: -8rem;
      z-index: 10; }
    .video__decoration-even::before {
      background-image: url(./css/images/deco3.png);
      width: 22rem;
      height: 22rem;
      transform: rotate(13deg);
      top: -8rem;
      left: 14rem; }
  .video__link:visited, .video__link:link {
    display: inline-block;
    color: inherit;
    opacity: 0.8;
    padding-top: 1.5rem;
    padding-bottom: 3px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 1px solid black;
    font-size: 1rem; }

.video__title:nth-of-type(even) {
  color: blue; }
