*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5% !important;
  overflow-x: hidden; }
  @media screen and (min-width: 450px) {
    html {
      font-size: 73.5% !important; } }
  @media screen and (min-width: 750px) {
    html {
      font-size: 100% !important; } }
  @media screen and (min-width: 1000px) {
    html {
      font-size: 120% !important; } }
  @media screen and (min-width: 1450px) {
    html {
      font-size: 175% !important; } }

body {
  background-color: #DCDCDC;
  font-family: 'Roboto Slab', serif; }

@font-face {
  font-family: 'Playlist';
  src: url(./css/fonts/PlaylistScript.otf) format("opentype"); }

.container {
  width: 95%;
  margin: 0 auto; }

.hero {
  padding: 4rem 10%;
  background-color: #F6F1EE;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  @media screen and (min-width: 1000px) {
    .hero {
      min-height: 100vh; } }
  .hero__content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 1rem;
    max-width: 23em;
    width: 100%;
    flex: 1 0 100%; }
    @media screen and (min-width: 750px) {
      .hero__content {
        font-size: 1.5rem; } }
    @media screen and (min-width: 1000px) {
      .hero__content {
        font-size: 1.8rem; } }
    .hero__content::before {
      content: '';
      position: absolute;
      display: block;
      width: 95%;
      height: 100%;
      background-color: #DCDCDC;
      top: -1%; }
  .hero__title {
    font-family: Playlist, sans-serif;
    font-size: 11em;
    font-weight: 400;
    line-height: 1em;
    letter-spacing: 4px;
    color: #071B0C;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .hero__sub-title {
    display: block;
    font-family: 'Roboto Slab', serif;
    font-size: 0.08em;
    line-height: 0.08em;
    padding-bottom: 2em; }
  .hero__paragraph {
    align-self: unset;
    width: 100%;
    flex: 1 0 100%;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 200;
    font-size: 1rem;
    font-family: 'Roboto Slab', serif;
    padding-top: 1rem; }

.title-decor {
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain; }
  .title-decor-1 {
    top: -0.5em;
    left: -4.6em;
    background-image: url(./css/images/leaf1.png);
    width: 8em;
    height: 8em;
    transform: rotate(218deg);
    z-index: 4; }
  .title-decor-2 {
    top: 4.8em;
    left: -6.3em;
    background-image: url(./css/images/leaf2.png);
    width: 9em;
    height: 9em;
    z-index: 3; }
  .title-decor-3 {
    top: 2.5em;
    left: -7.85em;
    background-image: url(./css/images/leaf3.png);
    width: 7em;
    height: 7em;
    transform: rotate(-12deg);
    z-index: 2; }
  .title-decor-4 {
    top: -0.8em;
    left: -7.8em;
    background-image: url(./css/images/leaf4.png);
    width: 6em;
    height: 6em;
    z-index: 1; }

.videos {
  background-color: #D9D9D9; }

.video {
  width: 90% !important;
  position: relative; }
  .video__title {
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
    font-weight: 200;
    line-height: 3rem;
    padding-top: 3rem;
    z-index: 2;
    position: relative; }
  .video__frame {
    margin-top: 3rem;
    border: none; }
  .video__decoration {
    width: 100%;
    height: 1px;
    position: relative; }
    .video__decoration::before {
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      background-size: contain; }
    .video__decoration-odd::before {
      background-image: url(./css/images/deco1.png);
      width: 18rem;
      height: 18rem;
      transform: rotate(116deg);
      top: -9rem;
      left: -8rem;
      z-index: 10; }
    .video__decoration-even::before {
      background-image: url(./css/images/deco3.png);
      width: 22rem;
      height: 22rem;
      transform: rotate(13deg);
      top: -8rem;
      right: -3rem; }
  .video__link:visited, .video__link:link {
    display: inline-block;
    color: inherit;
    opacity: 0.8;
    padding-top: 1.5em;
    padding-bottom: 3px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 1px solid black;
    font-size: 1rem; }

.sponsors {
  background-color: #F6F1EE;
  padding-bottom: 2rem; }
  .sponsors__content {
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 2rem 3rem; }
    @media screen and (max-width: 750px) {
      .sponsors__content {
        flex-direction: column; } }
  .sponsors__title {
    font-size: 1.2rem;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    text-align: center;
    padding-top: 2rem; }
  .sponsors__img {
    width: 40%;
    filter: grayscale(50%); }
    @media screen and (max-width: 750px) {
      .sponsors__img {
        width: 70%;
        max-width: 266px;
        margin: 0 auto;
        padding-bottom: 1.5rem; } }
  .sponsors img {
    width: 100%;
    display: inline-block; }
